<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.qdhhh.fakebeizhongyi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <!-- 允许程序打开网络套接字(Allows applications to open network sockets) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许一个程序打开窗口使用 TYPE_SYSTEM_ALERT，显示在其他所有程序的顶层(Allows an application to open windows using the Type TYPE_SYSTEM_ALERT, shown on top of all other applications. ) -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 允许程序访问有关GSM网络信息(Allows applications to access information about networks) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许访问振动设备(Allows access to the vibrator) -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 允许使用PowerManager的 WakeLocks保持进程在休眠时从屏幕消失( Allows usingPowerManager WakeLocks to keep processor from sleeping or screen from dimming) -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 允许一个程序接收到 ACTION_BOOT_COMPLETED广播在系统完成启动(Allows an application to receive the ACTION_BOOT_COMPLETED that is broadcast after the system finishes booting. ) -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 允许一个程序获取信息有关当前或最近运行的任务，一个缩略的任务状态，是否活动等等(Allows an application to get information about the currently correctly running tasks: a thumbnail representation of the tasks, what activities are running in it, etc.) -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 允许程序写入外部存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序读外部存储 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许挂载和反挂载文件系统可移动存储(Allows mounting and unmounting file systems for removable storage.) -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 允许程序录制音频(Allows an application to record audio) -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 请求访问使用照相设备(Required to be able to access the camera device. ) -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 允许程序调用killBackgroundProcesses(String).方法结束后台进程 -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <!-- 允许一个程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 允许一个程序访问精良位置(如GPS) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 允许获取手机信息 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序改变Wi-Fi连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 允许程序访问Wi-Fi网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许一个程序修改当前设置，如本地化 -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <!-- audio manage -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 隐藏屏保 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- 签名权限-->
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!-- 声明用友有信IM相关start -->
        <receiver android:name="com.yonyou.sns.im.core.YYIMBroadcastReceiver">
            <intent-filter>

                <!-- 开机广播 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- 关机广播 -->
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <!-- 网络连接变化的广播 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- 声明用友有信IMsdk所需的service -->
        <service android:name="com.yonyou.sns.im.core.YYIMService" />

        <meta-data
            android:name="com.yonyou.sns.im.appid"
            android:value="1078501223" />
        <meta-data
            android:name="com.yonyou.sns.im.etpid"
            android:value="cidtech" />

        <!-- 声明用友有信IM相关end -->


        <activity android:name=".MainActivity" />
        <activity android:name=".Activity_SaplashPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_Login" />
        <activity android:name=".Activity_Guide" />
        <activity android:name=".Activity_Setting" />
        <activity android:name=".Activity_CreatCard" />
        <activity android:name=".Activity_ResetPWD" />
        <activity android:name=".Activity_FindBackPwd" />
        <activity android:name=".me.setting.Activity_Me_Setting" />
        <activity android:name=".me.setting.Activity_Remind" />
        <activity
            android:name=".me.Activity_MyInfo"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".me.setting.Activity_Me_Change" />
        <activity android:name=".me.setting.Activity_Privacy" />
        <activity android:name=".me.setting.Activity_Feedback" />
        <activity android:name=".me.setting.Activity_About" />
        <activity android:name=".me.Activity_Document" />
        <activity android:name=".me.Activity_Position" />
        <activity android:name=".me.Activity_Collection" />
        <activity android:name=".mainpage.Activity_News_Detail" />
        <activity android:name=".me.setting.Activity_Setting_RemindGroup" />
        <activity android:name=".function.activity.Activity_Activity"></activity>
    </application>

</manifest>